table {
  border-collapse: collapse;
}
h1 {
	text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%
}

th {
	background: #42f4f1;
	border: 2px solid #999;
    padding: 0.5rem;
    text-align: left;
}

td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

p { margin:0.5px }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

